.menu-top {
  width: 100%;
  background: $color-gold;
  height: 45px;
  color: #fff;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    justify-content: space-between;
    align-content: center;
  }
}
.header {
  &__box {
    align-content: center;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
  }
  &__logo {
    position: relative;
    margin-top: -10px;
    &:after {
      content: "";
      position: absolute;
      background-color: #f2f2f2;
      width: 2px;
      height: 100%;
      top: 0;
      right: -30px;
    }
  }
  &__ouradress {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    p {
      color: #fff;
    }
    img {
      margin-top: -15px;
      margin-right: 10px;
    }
    align-content: center;
  }

  &__menu {
    margin-left: auto;
  }
}
.menu-main {
  &__list {
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    color: #fff;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 100;
  }
  ul {
    display: flex;
  }
  li {
    list-style-type: none;
  }
}
