.menu-top {
  width: auto;
  background: $color-gold;
  height: 45px;
  color: #fff;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: inherit;
    justify-content: space-between;
    align-content: center;
  }
}
.header {
  &__box {
    height: 160px;
    display: flex;
    flex-wrap: wrap;
  }
}
.menu-main {
  &__item {
	 color: #fff;
	 font-size: 1.15rem;
	 text-transform: uppercase;
  }
  ul {
    display: flex;
  }
  li {
    list-style-type: none;
  }
}
