.hero {
    
	.wrapper {
		position: relative;
		z-index: 4;
	}
	position: relative;
    background-image: url(/dist/img/hero/bg.png);
    width: auto;
    height: 620px;
	&__overlay {
		background: linear-gradient(0deg, rgba(47, 52, 58, 0.75), rgba(47, 52, 58, 0.75));
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		z-index: 0;;
    }
        .title {
        position: absolute;
        width: 920px;
        height: 245px;
        margin: auto;
        margin-top: 180px;
        margin-left: 100px;
        border: 1px solid #C8A35F;
        h1 {
            color: #ffffff;
            font-weight: bold;
            font-size: 64px;
            line-height: 155px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        p {
            position: absolute;
            width: 777px;
            height: 51px;
            left: 70px;
            font-size: 18px;
            text-align: center;
        }
    }
    &__mouse {
        height: 50px;
        width: 50px;
        margin-top: auto;
    }
}

