body {
  background-color: $color-dark;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1110px;
  margin: 0 auto;
}
.title-h2 {
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-weight: bold;
  &:before {
    content: "";
    position: absolute;
    top: -40px;
    height: 6px;
    width: 90px;
    background: $color-gold;
  }
}
