@media screen and (max-width: 1200px) {
  .wrapper {
    width: 880px;
  }
  .header {
    &__menu {
      width: 50%;
    }
  }
  .slide-block {
        &__left {
            width:30%;
        }
    }
    .title-h2 {
        width:50%;
    }
}
@media screen and (max-width: 980px) {
  .wrapper {
    width: 768px;
  }
  .header {
    &__menu {
      width: 55%;
    }
  }
  .slide-block {
        &__left {
            width:23%;
        }
    }
    .title-h2 {
        width:50%;
    }
}
@media screen and (max-width: 820px) {
  .wrapper {
    max-width: 540px;
  }
  h1 {
    font-size: 30px;
  }
}
