.services {
  margin-top: 100px;
}
.block-air {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .box {
    width: calc(25% - 1px);
    padding: 20px 0;
    background: $color-light-gray;
    margin-bottom: 2px;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      background: $color-gold;
      .box__circle {
        background: #fff;
        .static {
          display: none;
        }
        .hover {
          display: block;
        }
      }
    }
    p {
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 40px;
    }
    &__circle {
      display: flex;
      margin: 0 auto;
      padding-left: 18px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background: $color-light-gray;
      transition: 0.1s;
      .hover {
        display: none;
      }
    }
  }
}
