.services {
  margin-top: 100px;
}
.block-air {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .box {
    width: calc(25% - 1px);
    min-height: 180px;
    background: #393f47;
    margin-bottom: 2px;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      background: $color-gold;
      .box__circle {
        background: #fff;
      }
    }
    p {
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      margin-top: 40px;
    }
    &__circle {
      display: flex;
      margin-left: 95px;
      margin-top: 25px;
      padding-left: 18px;
      height: 70px;
      width: 70px;
      border-radius: 50%;

      background: inherit;
      transition: inherit;
    }
  }
}
