.slide-show {
  background-image: url(/dist/img/slider/bg.svg);
  background-size: cover;
  background-position: center center;
  padding: 100px 0;

  .slide-block {
    display: flex;
    flex-wrap: wrap;
    &__title {
      max-width: 445px;
    }
    p {
      width: 345px;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .button {
      width: 220px;
      height: 55px;
      background: $color-gold;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      line-height: 55px;
    }
    &__img {
      flex-direction: column;
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__next {
      display: flex;
      align-items: center;
      color: $color-gold;
      span {
        margin-right: 25px;
        text-transform: uppercase;
      }
    }
    &__preview {
      display: flex;
      align-items: center;
      color: $color-gold;
      span {
        margin-left: 25px;
        text-transform: uppercase;
      }
    }
  }
}
