@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

h1 {
  font-family: Roboto;
  font-style: Bold;
  font-size: 64px;
  line-height: 75px;
  line-height: 100%;
  letter-spacing: 5%;
}
h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #c4c4c4;
}
p {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
/* identical to box height */
color: #C4C4C4;
}
p--top-line {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #C4C4C4;
}
p > h1, h2 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* identical to box height */

color: #C4C4C4;
}
p.first-line *{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height */

color: #C4C4C4;
}